.nav-outer {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 8px 35px;
      display: inline;
      border: 1px solid white;
      background-color: #2980b9;
      color: white;
    }

    li:hover {
      background-color: #34495e;
      cursor: pointer;
    }
  }
}

.activated-router {
  background-color: #34495e !important;
}
